// $wc:white;
// $yc:rgb(189, 176, 0);
// $bc:#2fbfc2;
// $bc1:#007bff;
// $bc2:#001bff;
// $bc3:#003bff;
// $bc4:#005bff;
// $bc5:#009bff;
// $bgc:white;

// $wc:white;
// $yc:#8860d0; //other
// $bc:#8860d0; //same
// $bc1:#84ceeb; //same
// $bc2:#5680e9; //other
// $bc3:#84ceeb; //other
// $bc4:#5ab9ea; //other
// $bc5:#5680e9; //same
// $bgc:rgba(193,200,228,0.1);

$wc:white;
$yc:#25274d; //other
$bc:#25274d; //same
$bc1:#2e9cca; //same
$bc2:#29648a; //other
$bc3:#2e9cca; //other
$bc4:#464866; //other
$bc5:#29648a; //same
$bgc:rgba(193,200,228,0.1);

// $wc:white;
// $yc:#687864; //other
// $bc:#687864; //same
// $bc1:#5085a5; //same
// $bc2:#31708e; //other
// $bc3:#5085a5; //other
// $bc4:#8fc1e3; //other
// $bc5:#31708e; //same
// $bgc:rgba(193,200,228,0.1);

// $wc:white;
// $yc:#f79e02; //other
// $bc:#f79e02; //same
// $bc1:#1b9ce5; //same
// $bc2:#0074e1; //other
// $bc3:#1b9ce5; //other
// $bc4:#6cdaee; //other
// $bc5:#0074e1; //same
// $bgc:rgba(193,200,228,0.1);